# yii console command
/yii

# phpstorm project files
.idea

.vscode

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
.vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

backend/web/drawing/bg/1501336528038324800_bg_var_form01_sub2_drawing_map_1501141720064623400_135528.png
